/* You can add global styles to this file, and also import other style files */
a{text-decoration: none im !important;}
#container{max-width: 80%; margin: 0 auto;}
.nav{padding: 20px;}
.nav a{display: inline-block; padding: 20px 15px;}
h3{text-align: center; padding: 30px 15px;}
.form-group{padding: 15px 20px;}